{% extends 'main/main.html' %}
{% block content %}

<h1 align="center">Карты</h1>
<form action="{% url 'home' %}" method="get">
    {% csrf_token %}

    <input name="q" type="text" placeholder="Поиск...">
</form>
{% for card in cards %}
    <p><b>Серия: </b>{{card.series}}</p>
    <p><b>Номер: </b>{{card.amount}}</p>
    <p><b>Дата окончания активности: </b>{{card.end_date}}</p>
    <p><b>Статус: </b>{{card.is_active}}</p>
    <button><a href="{% url 'show_card' card.pk %}">Посмотреть</a></button>
    <hr>
{% endfor %}

{% endblock %}